
.all{
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    height: 100vh;
}

.signup{
    overflow: auto;
    height:90vh;
    width: 100%;  
}
.signup::-webkit-scrollbar{
    display: none;
}


.form2{
    float: right;
    opacity: 1;
    margin: 60px;
    width: 760px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 1px 40px 1.5px rgb(207, 231, 255);
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.input{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;  
}
.input-1{
   grid-column: span 2;
}

.label-1{
    font-size: large;
    color: rgb(207, 231, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select{
    font-size: large;
    height: 40px;
    width: 255px;
    padding: 5px;
    padding-left: 18px;
    color: rgb(46, 46, 46);
    border: 1px solid #689bd9;
    border-radius: 10px;
    background-color: rgb(207, 231, 255);
    outline-color: #155199;
    cursor: pointer;
}
.select:hover{
    background-color: #155199;
    color: rgb(207, 231, 255);
}

.bir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
    flex-direction: row;
    gap: 10px;
}
.row{
    padding-left: 5px;
    color: rgb(46, 46, 46);
    height: 40px;
    width: 75px;
    border: 1px solid #689bd9;
    border-radius: 10px;
    background-color: rgb(207, 231, 255);
    outline-color: #155199;
    cursor: pointer;
}
.row:hover{
    background-color: #155199;
    color: rgb(207, 231, 255);
}

.gen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
    flex-direction: row;
    gap: 20px;
}
.gender{
    color: rgb(46, 46, 46);
    padding: 8px;
    height: 25px;
    width: 80px;
    border: 1px solid #689bd9;
    border-radius: 10px;
    background-color: rgb(207, 231, 255);
    cursor: pointer;
}
.gender:hover{
    background-color: #155199;
    color: rgb(207, 231, 255);
}

.terms{
    font-size: 12px;
    padding-inline-start: 50px;
    padding-inline-end: 30px;
    color: rgb(207, 231, 255);
}

.ter1{
    color: #e493fb;
}
.ter1:active{
    color: red;
}
.already{
    font-size: 15px;
    color: #e493fb;
}
.already:active{
    color: red;
}

.input-container {
    position: relative;
  }
.errorMessage{
    display: flex;
    background-color: rgb(169, 30, 30);
    border-radius: 6px;
    box-shadow: 10px 0px 20px 1.5px black;
    position: absolute;
    bottom: 10px;
    left: 100px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}

.errorMessage1{
    background-color: rgb(169, 30, 30);
    border-radius: 6px;
    box-shadow: 10px 0px 20px 1.5px black;
    position:absolute;
    bottom: 10px;
    left: 80px;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}
.errorMessage2{
    background-color: rgb(169, 30, 30);
    border-radius: 6px;
    box-shadow: 10px 0px 20px 1.5px black;
    position:absolute;
    top: 65px;
    left: 100px;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}